@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .banner-slider .swiper-pagination-bullet {
    @apply w-2 h-2 bg-white/40 rounded-full transition-all duration-300 cursor-pointer;
  }

  .banner-slider .swiper-pagination-bullet-active {
    @apply w-4 h-2 bg-white opacity-100 scale-110;
  }
}

@theme {
  --animate-myprogress: myprogress 4s linear forwards;

  @keyframes myprogress {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}

@layer utilities {
  .animate-myprogress {
    animation: var(--animate-myprogress);
    width: 0;
  }
}

@utility container {
  @apply mx-auto max-w-7xl px-4;
}
