@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .banner-slider .swiper-pagination-bullet {
    @apply w-2 h-2 bg-white/40 rounded-full transition-all duration-300 cursor-pointer;
  }

  .banner-slider .swiper-pagination-bullet-active {
    @apply w-4 h-2 bg-white opacity-100 scale-110;
  }
}

html {
  font-family: var(--font-yekanbakh), system-ui, sans-serif;
}
